.main {
  .mask {
    display: flex;
    flex-direction: column;
    padding: 100px 0;
    .block {
      .blockHeader {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 40px;
        .nameBlock {
          display: flex;
          align-items: center;
          column-gap: 16px;

          span {
            font-weight: 600;
            font-size: 16px;
            line-height: 21px;
            color: white;
          }
        }
        button {
          background-color: #25262b;
          color: #3499ed;
          padding: 8px 12px;
        }
      }
      .mainBlock {
        display: grid;
        grid-template-columns: auto 1fr;
        column-gap: 164px;
        .navBlock {
          .navList {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            row-gap: 24px;
            li {
              color: #6d6e72;
              font-weight: 600;
              font-size: 16px;
              line-height: 21px;
              &.active {
                color: white;
              }
            }
            li:last-child {
              border-top: 1px solid #6d6e72;
              padding-top: 24px;
              color: #fa5000;
            }
          }
        }
      }
    }
  }
}
